<section class="section">
  <div class="container">
    <div class="heading">
      <h1 class="title">Mapas :D</h1>
      <h2 class="subtitle">
        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
      </h2>
      <div class="field">
        <label class="label">Busca una direccion:</label>
        <div class="control">
          <input class="input" placeholder="Buscar Sitio" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
        </div>
      </div>
      <agm-map  [latitude]="lat" [longitude]="lng" [zoom]="zoom" class="grid-img" (mapClick)="placeMarker($event)">
        <agm-marker *ngFor="let center of DatosCoordenadas" [latitude]="center.lat" [longitude]="center.lng"></agm-marker>
      </agm-map>
    </div>
    <h1 *ngFor="let center of DatosCoordenadas">{{center.lat}} !!! {{center.lng}}</h1>
  </div>
</section>