El Tipo De Usuario es {{ tipo }}
<ul>
    <li><a [routerLink]="['/carpeta1']" id="ir9" class="miclase">Ir a componente 1</a></li>
    <li><a [routerLink]="['/carpeta2']" id="ir9" class="miclase">Ir a componente 2</a></li>
    <li><a [routerLink]="['/carpeta3']" id="ir9" class="miclase" *ngIf="EsAdmin">Ir a componente 3</a></li>
    <li><a [routerLink]="['/carpeta4']" id="ir9" class="miclase" *ngIf="EsAdmin">Ir a componente 4</a></li>
    <li><a [routerLink]="['/carpeta5']" id="ir9" class="miclase">Ir a componente 5</a></li>
    <li><a [routerLink]="['/carpeta6']" id="ir9" class="miclase">Ir a componente 6</a></li>
    <li><a [routerLink]="['/carpeta7']" id="ir9" class="miclase">Ir a componente 7</a></li>
    <li><a [routerLink]="['/carpeta8']" id="ir9" class="miclase">Ir a componente 8</a></li>
    <li><a [routerLink]="['/carpeta9']" id="ir9" class="miclase">Ir a componente 9</a></li>
</ul>